.profile-img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.profile-name,.profile-p{
    text-align: center;
}

.mtp{
    margin-top: 60px;
}
.head{
    padding-left: 50px;
    padding-right: 50px;
    display: block;
}
/* .pa{
    background-repeat:no-repeat; 
    width:200vw;
} */

.c2{
    background-size: 1100px 300px;
    background-repeat: no-repeat;
    /* background-size: cover; */

}

.s{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}
